<!DOCTYPE html>
<html>
<head>
  <title>Smart Traffic Lights</title>
  <script src="https://maps.googleapis.com/maps/api/js?v=3"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'  type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
